<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.flutter.plugins.firebaselivestreammlvision">
  <uses-permission android:name="android.permission.CAMERA"/>
    <application>
        <service android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data
                android:name="com.google.mlkit.vision.DEPENDENCIES"
                android:value="barcode,ocr" />
        </service>
    </application>
</manifest>
